<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction a git</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Introduction a git</h1>
    <h2>Navigation
        <td colspan="2" style="text-align:center; padding: 1rem;">
            <a href="commands.html"><button type="button">commands</button></a>
            <a href="workflow.html"><button type="button">workflow</button></a>
                
        </td>
    </h2>
    <section>
        <p> Git est un outil pour gerer les projets a distance grace a la creation de repos et egalement deposer le travail a distance </p>
    </section>
    <p>Réference : 
        <a href="https://docs.github.com/en/desktop/installing-and-authenticating-to-github-desktop/installing-github-desktop">
            lien d'installation de git
        </a>
    </p>
    
</body>
</html>
